# Build Folders
bin/
obj/
out/

# User-specific Files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# logs
*.log

# Database File
*.db
*.db-shm
*.db-wal


# Publishing output
publish/
wwwroot/lib/

# Packages
packages/
*.nupkg

# temp files
*.tmp
*.temp
*.bak
*.cache

# settings
appsettings.Development.json